* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Open Sans"; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.row::before,
.row::after {
  content: "";
  display: table;
  clear: both; }

p {
  font-family: "Open Sans";
  font-size: 15px; }

#header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
  line-height: 0;
  font-size: 0; }
  #header nav ul li {
    display: inline-block;
    font-size: 15px; }
    #header nav ul li a {
      color: #fff;
      line-height: 50px;
      padding: 0 20px;
      display: block;
      text-decoration: none;
      text-transform: uppercase; }
      #header nav ul li a:hover {
        background: #ccc; }

#header {
  background: #313234;
  line-height: 50px; }
  #header nav {
    float: left;
    height: 50px; }

#welcome {
  background-image: url("https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
  background-position: 0% 50%;
  height: 400px;
  background-size: cover; }

.slogan {
  color: white;
  background: rgba(0, 0, 0, 0.3);
  float: right;
  max-width: 800px;
  margin-top: 100px;
  height: 100px;
  width: 400px;
  text-align: center;
  line-height: 100px; }
  .slogan h1 {
    margin: 0; }

.icon {
  margin-top: 70px;
  text-align: center;
  color: #313234;
  display: block;
  padding: 30px; }
  .icon h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Open Sans";
    transition: all ease-in-out .5s; }
  .icon i {
    width: 75px;
    height: 75px;
    border: 0;
    color: #fff;
    border-radius: 20%;
    background: #313234;
    margin: 5px;
    cursor: pointer;
    font-size: 40px;
    line-height: 75px;
    transition: all ease-in-out .5s; }

.icon-text:hover h1 {
  color: #903058; }

.icon-text:hover i {
  background-color: #903058; }

.featured-works {
  text-align: center;
  font-family: "Open Sans";
  color: #313234;
  margin-top: 70px;
  margin-bottom: 70px; }
  .featured-works h1 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900; }

/* SEKCJA GALLERY */
#gallery {
  width: 100%;
  margin: 0 auto; }
  #gallery .img {
    position: relative;
    overflow: hidden;
    height: 200px; }
    #gallery .img img {
      max-width: 100%; }

#gallery .img .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .8s;
  text-align: center; }
  #gallery .img .layer .fa {
    position: relative;
    top: 50%;
    color: #fff;
    transition: .8s;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 30px;
    opacity: 0;
    transition: .8s;
    margin-right: 20px; }

#gallery .img .layer .fa:last-child {
  margin-right: 0; }

#gallery .img:hover .layer i {
  opacity: 1; }

#gallery .img:hover .layer {
  background: rgba(0, 0, 0, 0.5); }

.images {
  margin: 0; }

/* KONIEC SEKCJI GALLERY */
#team {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center; }
  #team .circle {
    width: 150px;
    height: 150px;
    background: #903058;
    border-radius: 50%;
    margin: 0 auto; }

#promotion {
  background: #313234;
  padding: 50px; }
  #promotion img {
    max-width: 100%; }

.vertical {
  margin-top: 100px; }

.img-vertical {
  margin-left: 100px; }

.text-vertical {
  color: #fff;
  text-align: left;
  margin-left: 100px; }
  .text-vertical h1 {
    text-transform: uppercase;
    font-size: 35px; }
  .text-vertical p {
    text-align: left; }

#numbers {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px; }
  #numbers h1 {
    font-size: 40px; }
  #numbers p {
    text-transform: uppercase;
    color: #903058; }

#footer {
  background-color: #313234;
  color: #fff; }
  #footer h1 {
    text-transform: uppercase;
    position: relative;
    display: inline-block; }

#footer h1::after {
  content: '';
  display: block;
  width: 40px;
  height: 4px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: calc(100% + 20px); }

#footer div {
  padding: 40px; }

.copyrights {
  text-align: center;
  background: #fff;
  padding: 0;
  margin: 0; }
  .copyrights p {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 15px; }

.col {
  float: left; }

[class*="col-"] {
  float: left;
  Min-height: 1px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-offset-0 {
  margin-left: 0; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

@media (max-width: 768px) {
  .col-m-1 {
    width: 8.33%; }
  .col-m-2 {
    width: 16.66%; }
  .col-m-3 {
    width: 25%; }
  .col-m-4 {
    width: 33.33%; }
  .col-m-5 {
    width: 41.66%; }
  .col-m-6 {
    width: 50%; }
  .col-m-7 {
    width: 58.33%; }
  .col-m-8 {
    width: 66.66%; }
  .col-m-9 {
    width: 75%; }
  .col-m-10 {
    width: 83.33%; }
  .col-m-11 {
    width: 91.66%; }
  .col-m-12 {
    width: 100%; }
  #header nav img {
    float: none; }
  #header nav ul {
    float: none; }
    #header nav ul li {
      display: block;
      text-align: center; }
  .slogan {
    margin-top: 50px;
    height: 50px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    font-size: 12px; }
  #icons {
    padding-top: 30px; }
    #icons .icon {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 0 10px 0 10px; }
  .featured-works {
    border-top: 5px solid #333;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px; }
    .featured-works h1 {
      font-size: 20px; }
  #gallery .img {
    height: 110px; }
    #gallery .img .layer .fa {
      opacity: 1;
      font-size: 20px; }
  #team {
    margin-top: 50px;
    margin-bottom: 30px; }
  #promotion {
    padding: 0;
    margin: 0; }
  .vertical {
    margin: 0; }
    .vertical .img-vertical {
      padding: 40px;
      margin-left: 0;
      overflow: hidden;
      height: 250px; }
      .vertical .img-vertical img {
        max-width: 100%;
        overflow: hidden; }
    .vertical .text-vertical {
      padding: 40px;
      margin-left: 0; }
      .vertical .text-vertical h1 {
        font-size: 25px; }
  #numbers {
    margin-top: 10px;
    margin-bottom: 10px; }
    #numbers h1 {
      font-size: 34px; }
    #numbers p {
      font-size: 13px; }
  #footer div {
    padding: 20px; }
  #footer h1 {
    font-size: 20px; } }

/*# sourceMappingURL=style.css.map */